@import url(./__iframes/video__iframes.css);
@import url(./__iframe/video__iframe.css);
@import url(./__iframe/_first/video__iframe_first.css);

.video {
    padding-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}