@import url(./__triangle/kaufman__triangle.css);

.kaufman {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1F1f1f;
  padding: 90px 0px;
  overflow: hidden;
}