.cards__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 240px;
}

.cards__item:first-child {
    margin-right: 100px;
}

.cards__item:nth-child(3n) {
    margin-left: 100px;
}

.cards__item:last-child {
    margin-left: 100px;
}